{
  "plugins": [
    ["@babel/transform-runtime", { "helpers": true, "regenerator": true }],
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    ["@babel/proposal-class-properties", { "loose": true }]
  ],
  "presets": [["@babel/preset-env", { "loose": true, "modules": false }], "@babel/preset-react"]
}
